body {
    background-color: rgb(237, 206, 230);
    color: rgb(120, 109, 156);
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: rgb(108, 97, 145);
    color:rgb(238, 226, 238);
    font-family: Arial;
    margin: 0px;
}

main {
    color: rgb(174, 143, 178);
    font-family: 'Times New Roman';
    margin: 10px;
}

div.menu {
    border: 1px solid;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 10px 10px 5px #0002;
    font-style: italic;
}

div.menu:hover {
    background-color: rgb(241, 234, 241);
    box-shadow: 0 0 15px #00000030;
}

h1 {
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(174, 143, 178);
    font-size: larger;
    transition: 1s 2s;
}

a:link {
    color: blueviolet;
}

a:visited {
    color: purple;
    opacity: 0.8;
}

a:hover {
    color: rgb(146, 27, 108);
    box-shadow: 10px 10px 5px #0002;
    background-color: rgb(220, 172, 218);
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

footer {
    background-color: rgb(108, 97, 145);
    color:rgb(238, 226, 238);
    font-family: Arial;
    margin: 0px;
    text-align: right;
}