body {
    background-color: rgb(237, 206, 230);
    color: rgb(120, 109, 156);
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: rgb(108, 97, 145);
    color:rgb(238, 226, 238);
    font-family: Arial;
    margin: 0px;
}

main {
    color: rgb(174, 143, 178);
    font-family: 'Times New Roman';
    margin: 10px;
}

footer {
    background-color: rgb(108, 97, 145);
    color:rgb(238, 226, 238);
    font-family: Arial;
    margin: 0px;
    text-align: right;
}
a {
    text-decoration: none;
    color: rgb(174, 143, 178);
    font-size: larger;
}

a:hover {
    color: rgb(146, 27, 108);
    box-shadow: 10px 10px 5px #0002;
    background-color: rgb(220, 172, 218);
    text-decoration: underline;
}

a:active {
    color: black;
    opacity: 0.3;
}

a:link {
    color: blueviolet;
}

a:visited {
    color: purple;
    opacity: 0.8;
}